@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Text+Me+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*HEADER Y NAVBAR*/

.header1 {
  font-family: "Text Me One", sans-serif;
  font-size: 15px;
  color: white;
  background-color: #ab968d;
  overflow-x: hidden;
}
.header1 .off {
  -webkit-animation-name: off;
          animation-name: off;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes off {
  50% {
    transform: translateX(700px);
  }
}
@keyframes off {
  50% {
    transform: translateX(700px);
  }
}

.header2 {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 15rem;
}
@media screen and (max-width: 1016px) {
  .header2 {
    gap: 10rem;
  }
}
@media screen and (max-width: 886px) {
  .header2 {
    gap: 5rem;
  }
}
@media screen and (max-width: 480px) {
  .header2 {
    gap: 2rem;
  }
}

.header2 .buscador {
  width: 150px;
  border-color: #6e7375;
  border-radius: 5px;
}

@media screen and (max-width: 886px) {
  .header2 .buscador {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .header2 .buscador {
    width: 60px;
  }
}

.header2 .logo {
  max-width: 20rem;
}

@media screen and (max-width: 1016px) {
  .header2 .logo {
    max-width: 15rem;
  }
}

@media screen and (max-width: 886px) {
  .header2 .logo {
    max-width: 15rem;
  }
}

@media screen and (max-width: 886px) {
  .header2 .logo {
    max-width: 10rem;
  }
}

.shopping {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 20px;
}

.numero {
  color: #6e7375;
  font-family: "Text Me One", sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.numero:active {
  color:#ab968d
}

.numero:hover {
  color:#ab968d
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  z-index: 1;
}

/*FINISH HEADER Y NAVBAR*/

/*START PRODUCTOS*/

.productos {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.categorias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.btn-categorias {
  background-color: transparent;
  border: 0;
  color: #6e7375;
}

.btn-categorias:hover {
  background-color: #ab968d69;
  border-radius: 10px;
}

.productos .categorias {
  list-style-type: none;
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
}

.contenedor-productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-inline: 50px;
  font-family: "Text Me One", sans-serif;
  font-size: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


.card-body {
  background-color: #e4d5c8;
  text-align: center;
}

.productos-agregar {
  color: #000;
  font-size: 18px;
  padding-inline: 5px;
  margin-inline: 5px;
  border-radius: 10px;
  border-width: 1px;
  border-color:#ab968d;
}

.productos-agregar:hover {
  background-color:#ab968d;
  color: #fff;
}

.productos-titulo {
  font-size: 20px;
}

.carrito-compra {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-compras {
  color: #6e7375;
  font-family: "Text Me One", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: start;
}

.carrito-lleno {
  display: grid;
  grid-template-columns: 2fr;
  justify-content: space-around;
  align-content: space-evenly;
}

.img-carrito {
  width: 5rem;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  flex-wrap: wrap;
  font-family: "Text Me One", sans-serif;
  font-size: 20px;
  flex-wrap: wrap;
  align-items: center;
  color:#6e7375;
}


.btn-carrito-eliminar {
  border: 0;
  background-color: transparent;
}
.btn-carrito-eliminar:hover {
  color: red;
}

.carrito-final {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-family: "Text Me One", sans-serif;
  color:#6e7375;
  font-size: 20px;
}

.carrito-comprar {
  border: 0;
  text-transform: uppercase;
  color:#000000ab;
  background-color: #6e737557;
  border-radius: 5px;
}

.carrito-comprar:hover {
  background-color: #ab968d69;
  color:#6e7375;
}

.carrito-vacio{
  font-family: "Text Me One", sans-serif;
  color:#6e7375;
  font-size: 20px;
}

/*START FOOTER*/

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #ab968d;
  padding: 20px;
}
footer .follow {
  font-size: 20px;
  font-family: "Text Me One", sans-serif;
}
footer .iconoInst {
  font-size: 25px;
  text-align: center;
  color: #000;
}
footer .inst {
  color: #000;
}
footer .inst:hover {
  color: #fff;
}
footer .newsletter {
  font-size: 20px;
  font-family: "Text Me One", sans-serif;
}
footer .inputEmail {
  width: 125px;
  font-family: "Text Me One", sans-serif;
  border-radius: 5px;
}
footer .inputEmail {
  width: 125px;
  font-family: "Text Me One", sans-serif;
  border-radius: 5px;
}
footer .enviar {
  background-color: #e4d5c8;
  height: 30px;
  width: 50px;
  transition: width 2s;
  font-family: "Text Me One", sans-serif;
}
footer .enviar:hover {
  width: 80px;
  background-color: #fff;
}
footer .contactenos {
  font-family: "Text Me One", sans-serif;
  font-size: "Text Me One", sans-serif;
}
footer .contacto {
  display: flex;
  flex-wrap: wrap;
  font-family: "Text Me One", sans-serif;
  gap: 15px;
}

/*FINISH FOOTER*/